
.post {
	text-align: center;
}

.mainContainer {
	display: flex;
	align-content: center;
	flex-flow: nowrap column ;
	align-items: center;
}

textarea {
	width: 150%;
	height: 50%;
}

.container {
	margin: 3%;
}

.btn {
  display:block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid red;

}

body {
	font-style: 'Gothan Bold';
	background-color: aliceblue;
	text-align: center;
}
h6 {
	color: #666666
}

h4 {
	color: lightblue;
}
