<form role="form" class="formContainer mdl-cell mdl-cell--12-col">
<h6>	Assine</h6>
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" ng-model="form.nome" type="text" id="nome">
        <label class="mdl-textfield__label" for="nome">NOME COMPLETO</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" ng-model="form.email" type="text" id="email">
        <label class="mdl-textfield__label" for="email">EMAIL</label>
      </div>
      <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="button" value="ASSINE" ng-click="addLead()"></input>
</form>
