<!DOCTYPE>
<html lang="pt-br" ng-app="BlogApp">

<head>
	{% include "_head.html" %}
</head>

<body ng-controller="BlogCtrl">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header">
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title">Blog</span>
				<div class="mdl-layout-spacer"></div>
				{% include "_login.html" %}
			</div>
		</header>

		<main class="mdl-layout__content">
			<div class="page-content">

			{% include "_assine.html" %}

			 <div class="container">
				<h4>RECEBA NOSSOS DOWNLOADS</h4>
				<button type="button" class="btn btn-default btn-lg">
				  <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-object-align-vertical" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
				</button>
			</div>

				<div class="container">
				{% for post in posts %}
				<div class="listaContainer mdl-cell mdl-cell--12-col">
							<div class="post">
								<h4>{{post.titulo}}</h4>
								<p><i>Conteudo por {{post.autor}} - {{post.data_de_publicacao}}</i></p>
								<p>{{post.conteudo}}</p>
							</div>
				</div>
				{% endfor %}

				{% include "_assine.html" %}

		</main>
	</div>
</body>

</html>
